@import url("https://fonts.googleapis.com/css?family=Asap|Comfortaa|Gudea|Hind+Guntur|Hind+Madurai|Hind+Vadodara|Maven+Pro|Ropa+Sans|Niconne|Source+Code+Pro");

.hnote {
  font-family: Niconne;
  font-size: 35px;
  color: rgb(32, 23, 70);
}

.head {
  background: #dee3ee;
  color: white;
}
