.container {
  display: block;
  background-color: #ffffff;
  width: 50%;
  padding: 10px;

  align-items: centre;
  margin: auto;
  margin-top: 5%;
  left: 50%;
  border-left: solid 1px;
  border-right: solid 3px;
  border-radius: 10px;
  border-color: rgb(70, 66, 66);
  border-bottom: solid 5px;
  border-top: solid 1px;

  left: 50%;
}
.central {
  align-items: center;
}

.save {
  display: flex;
  /* grid-template-columns: 9fr 1fr; */
}
.save button {
  color: #ffffff;
  background-color: #180a4b;
  margin-bottom: 10%;
  font-size: 10pt;
}
#titlefield {
  grid-column: 1/8;
  float: left;
  height: 25px;
  width: 70%;
  resize: none;
  font-size: 13pt;
  margin-bottom: 1%;
}

.buttonq {
  background: linear-gradient(to bottom right, #9284b6, #cac5f5);
  border: 0;
  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 100px;
  margin-left: 14px;
  height: 35px;
}

.buttonq:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(107, 68, 248, 0.5),
    0.125rem 0.125rem 1rem rgba(28, 3, 253, 0.5);
}

.buttonq:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(107, 68, 248, 0.5),
    0.125rem 0.125rem 1rem rgba(28, 3, 253, 0.5);
}

.item {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

.CodeM {
  max-height: 450px;
  overflow-y: auto;
}
