/* CSS */
.buttonq {
  background: linear-gradient(to bottom right, #9284b6, #cac5f5);
  border: 0;
  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 100px;
  margin-left: 14px;
  height: 35px;
}
.buttonqs {
  background: linear-gradient(to bottom right, #4b5291, #6a81e9);

  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;

  padding: 0 1rem;
  text-align: center;

  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 70px;

  height: 35px;
}

.buttonq:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(107, 68, 248, 0.5),
    0.125rem 0.125rem 1rem rgba(28, 3, 253, 0.5);
}

.buttonq:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(107, 68, 248, 0.5),
    0.125rem 0.125rem 1rem rgba(28, 3, 253, 0.5);
}

.container {
  display: flex;
  overflow: scroll;
  width: 100%;
  max-width: 100%;
  padding-left: 14px;
  border: 1px grey solid;
  border-radius: 5px;
  color: black;
}

.container input {
  width: 100%;
  min-width: 50%;
  border: none;
  border-radius: 5px;
  height: 20px;

  padding: 0 12px;
}

.tag {
  display: flex;
  align-items: center;
  margin: 7px 0;
  margin-right: 10px;
  padding: 0 7px;

  width: max-content;
  min-width: 60px;
  font-size: 10pt;
  border-radius: 32px;
  background: linear-gradient(to bottom right, #4b5291, #6a81e9);
  white-space: nowrap;
  color: white;
}

.tag button {
  display: flex;
  padding: 6px;
  border: none;
  background-color: unset;
  cursor: pointer;
  color: white;
}
