/* CSS */
.buttonq {
  background: linear-gradient(to bottom right, #9284b6, #cac5f5);
  border: 0;
  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 100px;
  margin-left: 14px;
  height: 35px;
}
.buttonqs {
  background: linear-gradient(to bottom right, #4b5291, #6a81e9);

  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;

  padding: 0 1rem;
  text-align: center;

  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 70px;

  height: 35px;
}

.buttonq:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(107, 68, 248, 0.5),
    0.125rem 0.125rem 1rem rgba(28, 3, 253, 0.5);
}

.buttonq:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(107, 68, 248, 0.5),
    0.125rem 0.125rem 1rem rgba(28, 3, 253, 0.5);
}
