h1 {
  color: rgb(4, 63, 110);
  font-family: "Aclonica", monteserrat;
  font-weight: bold;
  font-size: 300%;
}

.center {
  margin-top: 10%;
  text-align: center;
}

.g-signin2 {
  width: 100%;
}

.g-signin2 > div {
  margin: 0 auto;
  border-radius: 60px;
}

body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("./Back_To_School_color_pencil_frame-09.jpg");
  filter: blur(1px);
  -webkit-filter: blur(1px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(8, 20, 124); /* Fallback color */
  background-color: rgba(41, 94, 116, 0.288); /* Black w/opacity/see-through */
  color: rgb(26, 26, 138);
  font-weight: bold;
  border: 3px solid #124c63;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  height: 75%;
  padding: 20px;
  text-align: center;
  margin-top: 10%;
}
