.container {
  display: block;
  background-color: #ffffff;
  width: 50%;
  padding: 10px;
  align-items: centre;
  margin: auto;
  margin-top: 5%;
  font-size: 25px;
  left: 50%;
  border-left: solid 1px;
  border-right: solid 3px;
  border-radius: 10px;
  border-color: rgb(70, 66, 66);
  border-bottom: solid 5px;
  border-top: solid 1px;

  left: 50%;
}
.central {
  align-items: center;
}

.save {
  display: grid;
  grid-template-columns: 9fr 1fr;
}
.save button {
  color: #ffffff;
  background-color: #180a4b;
  margin-bottom: 10%;
  font-size: 10pt;
}
#titlefield {
  grid-column: 1/8;
  float: left;
  height: 30px;
  width: 70%;
  resize: none;
  font-size: 13pt;
  margin-bottom: 1%;
}
